# Discord bot credentials
bot_token=
bot_id=
# Rest configurations
rest_port=
rest_url=
# Bot configurations
bot_server_port=
bot_server_url=
# Gateway configurations
gateway_port=
gateway_url=
# Worker configurations
shard_server_port=
shard_server_url=
# Analytics credentials (optional)
influx_enable=
influx_url=
influx_token=
influx_org=
influx_bucket=
# Modes
maintenance=
# API key for forger's API
forge_api_key=
# Top.gg stuff
topgg_api_key=
topgg_port=
topgg_webhook_secret=
