# Discord bot credentials
bot_token=
bot_id=
bot_server_port=
bot_server_url=
# Rest configurations
rest_port=
rest_url=
# Gateway configurations
gateway_port=
gateway_url=
# Worker configurations
shard_server_port=
shard_server_url=
# Xata credentials
xata_api_key=
xata_branch=
# Redis credentials
redis_password=
redis_host=
redis_port=
# Analytics credentials (optional)
influx_enable=
influx_url=
influx_token=
influx_org=
influx_bucket=
# External API keys
google_api_key=
perspective_api_key=
emoji_kitchen_api_key=
